*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins' , sans-serif;
}
.main-container{
    height: 100%;
    width: 26%;
    background-color: white;
    margin: auto;
    margin-top: 7%;
    border-radius: 7px;
    border: 1px solid #999898;
    padding: 48px 40px 36px;
}
.google-signin-text-image{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 100%;
    height: 7.5vh;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #999898;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 15px;
}
#forgot-email{
    color: #1a73e8;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
}
span{
    font-size: 15px;
    color: #1a73e8;
    font-weight: bolder;
}
p{
    padding-bottom: 35px;
    padding-top: 9px;
    box-sizing: inherit;
    color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
    margin-top: 32px;
}
.create-account-next-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.create-account-next-btn h5{
    color: #1a73e8;
    font-size: 15px;
}
.create-account-next-btn button{
   color: #fff;
   background-color: #1a73e8;
   border: none;
   border-radius: 4px;
   width:70px;
   height: 5vh;
   font-size: 15px;
   margin-top: 15px;  
}

@media only screen and (max-width:900px){
    .main-container{
      height: 90%;
      width: 70%;
    }
}


/* //for phone */
@media only screen and (max-width:588px){
      .main-container{
        height: 100%;
        width: 100%;
      }
 }
